.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover{
    color: orange;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-logout{
    margin: 0 20px;
    color: white;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.968);
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    transition: 0.5s;
}
.btn-logout:hover{
    transform: scale(1.1);
    background-color: rgba(227, 0, 0, 0.96);
}
.btn-logout:active{
    transform: scale(0.9);
}

@media only screen and (min-width:400px) and (max-width:760px) {
    .header a{
        font-size: 13px;
        margin-left: 20px;
    }
    .header{
        display: flex;
        justify-content: start;
        padding-left: 50px;
        padding-right: 50px;
    }
}   